.featured {
  width: 80%;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  h4 {
    margin: 0.5rem 0 1rem 0;
  }
}

.image-container{
  position: relative;
}

.image-container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 0;
}

.overlay {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px;
}

.image-container:hover {
.overlay {
  display: flex;
  flex-direction: column;
  background-color: rgba(31, 40, 59, 0.603);
  color: white;
  transition: 0.5s;

  h3{
    font-size: 12px;
    padding: 0.5rem;
  }
  .name{
    font-size: 22px;
    line-height: 1.8rem;
  }
}
}

.birthplace{
  display: none;
}

.born {
  font-weight: 200;
}

.further-info{
  display: none;
}

.technique{
  background-color: rgba(255, 255, 255, 0.39);
  color: black;
  padding: 3px 7px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .featured-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .image-container:hover {
    .overlay {
      h3{
        font-size: 18px;
        padding: 2rem;
      }
      .name{
        font-size: 28px;
      }
    }
    }
}

@media screen and (min-width: 1200px) {
  
  .featured h2{
    font-size: 30px;
  }
  .featured-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .image-container{
    margin-bottom: 1rem;
  }


  .techniques-heading{
    margin: 0.3rem 0;
  }

  .further-info{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;

    ul{
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  .birthplace{
    display: flex;
    gap: 0.5rem;
  }
  
}
