.featured {
  width: 80%;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-list {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  h4 {
    margin: 0.5rem 0 1rem 0;
  }
}

.image-container img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  .featured-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .featured-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
